.container
  %p#notice= notice
  %h1 Listing Ratings
  %table
    %thead
      %tr
        %th{:colspan => "3"}
    %tbody
      = link_to 'New Rating', new_rating_path
      %hr
        %h3 Top Active
        - @top_active.each do |t|
          %p= " #{t.keys.first.to_s} - #{t.values.first} "
      %hr
        %h3 Scores
        - @scores_desc.each do |t|
          %p= " #{t.keys.first.to_s} - #{t.values.first} "
      %hr
      = render 'grid'
      %p
      - @ratings.each do |rating|
        %tr
          %td
            = " #{rating.product.product_name} - #{rating.score} - #{rating.source.name} - #{rating.created_at.strftime('%D')} "
          %td= link_to 'Show', rating
          %td= link_to 'Edit', edit_rating_path(rating)
          %td= link_to 'Destroy', rating, method: :delete, data: {confirm: 'Are you sure?'}
  %br/
  = link_to 'New Rating', new_rating_path
